.user-incognito {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 10px;
    border-bottom: 1px solid var(--color-sweet-green);
    padding-bottom: 15px;
}

.photo_incognito {
    width: 200px;
    height: 200px;
    background-color: black;

}


.info_wiki p {
    line-height: 21px;
}


.btn_info_wiki {
    border-radius: 10px;
    width: 13%;
    outline: none;
    border: 2px solid var(--color-blue);
    height: 40px;
    background-color: var(--color-bg);
}

.btn_info_wiki a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-blue);
}

.btn_info_wiki:hover {
    background-color: var(--color-blue);
}

a:hover {
    color: var(--color-white);
}